<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneSignalNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8312B9DE2151A81900D8F2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836AFD2220DDAF85002DA873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836FAD772151413700160BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83802D681F2ED1FD00E315FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8397B2C01F951D3400EC392C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
